<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="jumbotron">
    <h1>emojifestos</h1>
    <p>
      A project to depict this year's election manifestos — entirely through emoji.
    </p>
  </div>
  
  <h3>Submit an emojifesto!</h3>
  <div class="row submit">
    <div class="selection">
      <blockquote>
        <p class="lead" ng-bind-html="chosenManifesto"></p>
        <footer>
          <em>Source: </em> {{chosenParty}} Party manifesto, section <cite title="manifesto section">"{{chosenSection}}"</cite>
        </footer>
      </blockquote>
    </div>
    <form name="form" class="css-form" novalidate>
      <div class="form-group" ng-class="{'has-error': form.submission.$error.emoji, 'has-success': !form.submission.$error.emoji}">
        <div ng-bind-html="userSubmission | emojify"></div>
        <textarea name="submission" class="form-control big-font" type="text" emoji ng-model="userSubmission" ng-maxlength="140" maxlength="140"></textarea>
        <label class="control-label" for="submission">Characters remaining: {{140 - userSubmission.length}}</label>
        <label class="control-label" for="submission" ng-show="form.submission.$error.emoji">Please use emoji only!</label>
        <label class="control-label" for="submission" ng-show="form.submission.$error.maxlength">Must be less than 140 characters!</label>
        <button class="picker" emoji-picker="userSubmission" placement="right" title="Emoji picker" recent-limit="12">Choose emoji</span>
      </div>
      
      <h5 ng-if="isOSX()">Hint: on OS X, press ⌃+⌘+spacebar</h5>
      
      
      
      
    </form>
    
    
    <div ng-if="!isLoggedIn()">
      <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
        <i class="fa fa-twitter"></i> Connect with Twitter to add your submission!
      </a>
    </div>
    <div ng-if="isLoggedIn()">
      <button class="btn">Submit</button>
    </div>
  </div>
  
  <h1>Top Emojifestos</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>entry</th>
        <th>original</th>
        <th>submitter</th>
        <th>date</th>
        <th>points</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in topEntries">
        <td>{{row.position}}</td>
        <td>{{row.entry}}</td>
        <td>{{row.original}}</td>
        <td>{{row.submitter}}</td>
        <td>{{row.date}}</td>
        <td>{{row.points}}</td>
      </tr>
    </tbody>
  </table>
</div>

<footer class="footer">
  <div class="container">
      <p>emojifestos |
        a web experiment by <a href="http://www.twitter.com">@aendrew</a> |
         <a href="https://github.com/times/">Times Digital Development</a></p>
  </div>
</footer>
