  <h3>Submit an emojifesto!</h3>
  <div class="row submit">
    <div class="selection">
      <blockquote>
        <p class="lead" ng-bind-html="chosenManifesto"></p>
        <footer>
          <em>Source: </em> {{chosenParty}} Party manifesto, section <cite title="manifesto section">"{{chosenSection}}"</cite>
        </footer>
      </blockquote>
    </div>
    <form name="form" class="css-form" novalidate ng-submit="submitTranslation(form)">
      <div class="form-group" ng-class="{'has-error': form.submission.$error.emoji, 'has-success': !form.submission.$error.emoji}">
        <div ng-bind-html="userSubmission | emojify"></div>
        <textarea name="submission" class="form-control big-font" ng-disabled="!isLoggedIn()" type="text" ng-model="userTranslation" ng-maxlength="140" maxlength="140" ng-minlength="2"></textarea>
        <label class="control-label" for="submission">Characters remaining: {{140 - userTranslation.length}}</label>
        <label class="control-label" for="submission" ng-show="form.submission.$error.emoji">Please use emoji only!</label>
        <label class="control-label" for="submission" ng-show="form.submission.$error.maxlength">Must be less than 140 characters!</label>
        <br />
        <div><span>Launch emoji picker</span> <span class="picker" emoji-picker="userTranslation" placement="right" title="Emoji picker" recent-limit="12">Choose emoji</span></div>
      </div>
      
      <h5 ng-if="isOSX()">Hint: on OS X, press ⌃+⌘+spacebar</h5>
      
      <div ng-if="!isLoggedIn()">
        <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
          <i class="fa fa-twitter"></i> Connect with Twitter to add your submission!
        </a>
      </div>
      <div ng-if="isLoggedIn()">
        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </div>
      
      <p class="help-block"> {{ message }} </p>
      <p class="help-block" ng-show="form.password.$error.mongoose">
          {{ errors.other }}
      </p>
      
    </form>
  </div>
  
  <h1 ng-if="false">Top Emojifestos</h1>
  <table class="table table-hover" ng-if="false">
    <thead>
      <tr>
        <th>#</th>
        <th>entry</th>
        <th>original</th>
        <th>submitter</th>
        <th>date</th>
        <th>points</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in topEntries">
        <td>{{row.position}}</td>
        <td>{{row.entry}}</td>
        <td>{{row.original}}</td>
        <td>{{row.submitter}}</td>
        <td>{{row.date}}</td>
        <td>{{row.points}}</td>
      </tr>
    </tbody>
  </table>
